*{
    font-family: Beirut;
}


.window{
    background-color: white;
}

QLineEdit {
    color: black;
    border-style: solid;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    font-size: large;
}

QPushButton {
    color: black;
}

QLabel, .title, .info {
    color: black;
    font-family: Arial;
}

.title {
    font-weight: bold;
}

.info {
    font-style: italic;
}

.box1, .box1-odd {
    background-color: rgba(255, 223, 116, 0.76);
}

.box1-odd {
    background-color: rgba(255, 223, 116, 0.3);
}

.box2, .box2-odd {
    background-color: rgba(62, 208, 252, 0.51);
}

.box2-odd{
    background-color: rgba(62, 208, 252, 0.2);
}